@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.judul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
}

.container-btn-tambah{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}
